<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CadastrarUsuario</display-name>
    <servlet-name>CadastrarUsuario</servlet-name>
    <servlet-class>com.aula04.servlet.session.CadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuario</servlet-name>
    <url-pattern>/CadastrarUsuario</url-pattern>
  </servlet-mapping>
  <display-name>AtividadeAula04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListarClienteServlet</display-name>
    <servlet-name>ListarClienteServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.ListarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarClienteServlet</servlet-name>
    <url-pattern>/ListarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarClienteServlet</display-name>
    <servlet-name>EditarClienteServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.EditarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServlet</servlet-name>
    <url-pattern>/EditarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverClienteServlet</display-name>
    <servlet-name>RemoverClienteServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.RemoverClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverClienteServlet</servlet-name>
    <url-pattern>/RemoverClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarClienteServlet</display-name>
    <servlet-name>AtualizarClienteServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.AtualizarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarClienteServlet</servlet-name>
    <url-pattern>/AtualizarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProdutoServlet</display-name>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.CadastrarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <url-pattern>/CadastrarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProdutoServlet</display-name>
    <servlet-name>ListarProdutoServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.ListarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProdutoServlet</servlet-name>
    <url-pattern>/ListarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProdutoServlet</display-name>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.EditarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <url-pattern>/EditarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverProdutoServlet</display-name>
    <servlet-name>RemoverProdutoServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.RemoverProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverProdutoServlet</servlet-name>
    <url-pattern>/RemoverProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarProdutoServlet</display-name>
    <servlet-name>AtualizarProdutoServlet</servlet-name>
    <servlet-class>com.aula04.servlet.session.AtualizarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarProdutoServlet</servlet-name>
    <url-pattern>/AtualizarProdutoServlet</url-pattern>
  </servlet-mapping>
</web-app>